* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-image: url("background.jpg");
    background-size: 100vh;
}

h1, h3 {
    color: white;
    text-align: center;
    margin-top: 20px;
}

#chance {
    margin-top: 7%;
}

#inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 6%;
}

#row-1, #row-2, #row-3 {
    display: flex;
    justify-content: center;
}

.btn {
    font-size: 6vw;
    width: 90px;
    height: 90px;
    color: white;
}

#reset {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#resultText, #reset-btn {
    visibility: hidden;
}

#reset-btn {
    width: 100px;
    height: 50px;
    border-width: 0;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    background-color: white;
}

#reset-btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}